{% extends "webtemplate_dpaw/base.html" %}
{% load cache %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="//static.dpaw.wa.gov.au/static/libs/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block navbar_site_title %}
{% cache 600 base_title %}
<a class="navbar-brand visible-xs visible-sm" href="{% url 'site_home' %}">{{ site_acronym }}</a>
<a class="navbar-brand hidden-xs hidden-sm" href="{% url 'site_home' %}">{{ site_title }}</a>
{% endcache %}
{% endblock %}

{% block navbar_links %}
{% cache 600 navbar_search_links %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'prs_object_list' model='referrals' %}" title="Referrals">Referrals</a></li>
        <li><a href="{% url 'prs_object_list' model='tasks' %}" title="Tasks">Tasks</a></li>
        <li><a href="{% url 'prs_object_list' model='notes' %}" title="Notes">Notes</a></li>
        <li><a href="{% url 'prs_object_list' model='conditions' %}" title="Conditions">Conditions</a></li>
        <li><a href="{% url 'prs_object_list' model='records' %}" title="Records">Records</a></li>
        <li><a href="{% url 'prs_object_list' model='locations' %}" title="Locations">Locations</a></li>
        <li><a href="{% url 'prs_object_list' model='clearances' %}" title="Clearances">Clearances</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'prs_general_search' %}" title="Search all">Search all</a></li>
    </ul>
</li>
{% endcache %}
<li><a href="{% url 'reports' %}" title="Reports">Reports</a></li>
{% block navbar_auth %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% firstof user.get_full_name user.username %} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}" title="Administration">Administration</a></li>
        {% endif %}
        {% if prs_power_user %}
        <li><a href="{% url 'tag_replace' %}" title="Tag replace">Tag replace</a></li>
        <li class="divider"></li>
        {% endif %}
        {% if last_referral %}
        <li><a href="{% url 'referral_detail' pk=last_referral.pk %}" title="Last referral">Last referral: {{ last_referral.pk }}</a></li>
        {% endif %}
        <li><a href="{% url 'referral_recent' %}" title="Recent referrals">Recent referrals</a></li>
        <li><a href="{% url 'prs_object_list' model='bookmarks' %}" title="Bookmarks">Bookmarks</a></li>
        <li><a href="{% url 'stopped_tasks_list' %}" title="Stopped tasks">Stopped tasks</a></li>
        <li><a href="{% url 'help_page' %}" title="Help">Help</a></li>
        <li><a href="{% url 'logout' %}" title="Log out">Log out</a></li>
    </ul>
</li>
<li class="active is_prs_user"><a href="{% url 'referral_create' %}" title="Create a new referral"><strong>Create</strong></a></li>
{% endblock navbar_auth %}
{% endblock navbar_links %}

{% block page_content %}
<div class="container-fluid">
    <!-- Breadcrumbs -->
    {% if breadcrumb_trail %}
    <div class="row">
        <div class="hidden-xs col-xs-12">
            <ol class="breadcrumb">
                {{ breadcrumb_trail|safe }}
            </ol>
        </div>
    </div>
    {% endif %}

    <!-- Messages  -->
    {% if messages %}
    <div class="row">
        <div class="col-xs-12">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            {% block page_content_inner %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_footer %}
{% cache 600 footer %}
<hr>
<div class="container text-center">
    <div class="row">
        <div class="col-xs-12">
            <small>v{{ version_no }} &copy; 2015 Department of Parks and Wildlife</small>
        </div>
    </div>
</div>
{% endcache %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    // disable url links if user has readonly access (returns true if user is_superuser!)
    $(function() {
        var is_prs_user = true ? "{{ prs_user }}" == "True" : false
        if (!is_prs_user) {
            // Header menu items, in referral_details.html and prs_object_detail.html
            $('.is_prs_user').addClass("disabled");
            $('.is_prs_user').contents().each(function(i, item) {
                item.href="#";
            });
            // html added via models.py 'def as_row_actions()'
            $('.is_prs_user_action').each(function(i, item) {
                item.style="color:grey;";
                item.href="#";
            });
            // Delete 'related referrals' btn, in referral_details.html
            $('.is_prs_user_btn').prop('disabled', true)
            $('.is_prs_user_btn').each(function(i, item) {
                item.style="color:grey";
            });
        }
    });
</script>
{% endblock extra_js %}
