DEBUG={{ DEPLOY_DEBUG }}
PORT={{ DEPLOY_PORT }}
DATABASE_URL="{{ DEPLOY_DATABASE_URL }}"
SECRET_KEY="{{ DEPLOY_SECRET_KEY }}"
CSRF_COOKIE_SECURE={{ DEPLOY_CSRF_COOKIE_SECURE }}
SESSION_COOKIE_SECURE={{ DEPLOY_SESSION_COOKIE_SECURE }}
LDAP_SERVER_URI="ldap://corporateict.domain:3268"
LDAP_ACCESS_DN="{{ LDAP_ACCESS_DN }}"
LDAP_ACCESS_PASSWORD="{{ LDAP_ACCESS_PASSWORD }}"
LDAP_SEARCH_SCOPE="DC=corporateict,DC=domain"
EMAIL_HOST="{{ DEPLOY_EMAIL_HOST }}"
EMAIL_PORT={{ DEPLOY_EMAIL_PORT }}
SITE_URL="{{ DEPLOY_SITE_URL }}"
MAPBOX_ACCESS_TOKEN="{{ MAPBOX_ACCESS_TOKEN }}"
GEOSERVER_WMS_URL="{{ GEOSERVER_WMS_URL }}"
GEOSERVER_WFS_URL="{{ GEOSERVER_WFS_URL }}"
GEOCODER_URL="{{ GEOCODER_URL }}"
PRS_USER_GROUP="PRS user"
PRS_PWUSER_GROUP="PRS power user"
