<!DOCTYPE qgis PUBLIC 'http://mrcc.com/qgis.dtd' 'SYSTEM'>
<qgis projectname="{{ PROJECT_TITLE }}" version="2.8.1-Wien">
  <title>{{ PROJECT_TITLE }}</title>
  <layer-tree-group expanded="1" checked="Qt::PartiallyChecked" name="">
    <customproperties/>
    <layer-tree-layer expanded="1" checked="Qt::Checked" id="prs_prs_locations20150820132925873" name="PRS locations">
      <customproperties/>
    </layer-tree-layer>
	<layer-tree-layer expanded="0" checked="Qt::Unchecked" id="PRS_locations__all_20150904133016079" name="PRS locations (all)">
      <customproperties/>
    </layer-tree-layer>
    <layer-tree-layer expanded="0" checked="Qt::Unchecked" id="cadastre_prs20151217112305468" name="Cadastre">
      <customproperties/>
    </layer-tree-layer>
    <layer-tree-layer expanded="0" checked="Qt::Unchecked" id="Virtual_Mosaic__LGATE_V001_20151217112414064" name="Landgate Orthomosaic">
      <customproperties/>
    </layer-tree-layer>
  </layer-tree-group>
  <relations/>
  <mapcanvas>
    <units>degrees</units>
    <extent>
      <xmin>{{ XMIN }}</xmin>
      <ymin>{{ YMIN }}</ymin>
      <xmax>{{ XMAX }}</xmax>
      <ymax>{{ YMAX }}</ymax>
    </extent>
    <rotation>0</rotation>
    <projections>1</projections>
    <destinationsrs>
      <spatialrefsys>
        <proj4>+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs</proj4>
        <srsid>3415</srsid>
        <srid>4283</srid>
        <authid>EPSG:4283</authid>
        <description>GDA94</description>
        <projectionacronym>longlat</projectionacronym>
        <ellipsoidacronym>GRS80</ellipsoidacronym>
        <geographicflag>true</geographicflag>
      </spatialrefsys>
    </destinationsrs>
    <layer_coordinate_transform_info>
      <layer_coordinate_transform destAuthId="EPSG:4283" srcAuthId="EPSG:4283" srcDatumTransform="-1" destDatumTransform="-1" layerid="prs_prs_locations20150820132925873"/>
      <layer_coordinate_transform destAuthId="EPSG:4283" srcAuthId="EPSG:4283" srcDatumTransform="-1" destDatumTransform="-1" layerid="PRS_locations__all_20150904133016079"/>
      <layer_coordinate_transform destAuthId="EPSG:4283" srcAuthId="EPSG:4283" srcDatumTransform="-1" destDatumTransform="-1" layerid="cadastre_prs20151217112305468"/>
      <layer_coordinate_transform destAuthId="EPSG:4283" srcAuthId="EPSG:4283" srcDatumTransform="-1" destDatumTransform="-1" layerid="Virtual_Mosaic__LGATE_V001_20151217112414064"/>
    </layer_coordinate_transform_info>
  </mapcanvas>
  <visibility-presets/>
  <layer-tree-canvas>
    <custom-order enabled="0">
      <item>prs_prs_locations20150820132925873</item>
      <item>PRS_locations__all_20150904133016079</item>
      <item>cadastre_prs20151217112305468</item>
      <item>Virtual_Mosaic__LGATE_V001_20151217112414064</item>
    </custom-order>
  </layer-tree-canvas>
  <legend updateDrawingOrder="true">
    <legendlayer drawingOrder="-1" open="true" checked="Qt::Checked" name="PRS locations" showFeatureCount="0">
      <filegroup open="true" hidden="false">
        <legendlayerfile isInOverview="0" layerid="prs_prs_locations20150820132925873" visible="1"/>
      </filegroup>
    </legendlayer>
    <legendlayer drawingOrder="-1" open="false" checked="Qt::Unchecked" name="PRS locations (all)" showFeatureCount="0">
      <filegroup open="false" hidden="false">
        <legendlayerfile isInOverview="0" layerid="PRS_locations__all_20150904133016079" visible="0"/>
      </filegroup>
    </legendlayer>
    <legendlayer drawingOrder="-1" open="true" checked="Qt::Unchecked" name="Cadastre" showFeatureCount="0">
      <filegroup open="true" hidden="false">
        <legendlayerfile isInOverview="0" layerid="cadastre_prs20151217112305468" visible="0"/>
      </filegroup>
    </legendlayer>
    <legendlayer drawingOrder="-1" open="true" checked="Qt::Unchecked" name="Landgate Orthomosaic" showFeatureCount="0">
      <filegroup open="true" hidden="false">
        <legendlayerfile isInOverview="0" layerid="Virtual_Mosaic__LGATE_V001_20151217112414064" visible="0"/>
      </filegroup>
    </legendlayer>
  </legend>
  <projectlayers layercount="1">
    <maplayer minimumScale="-4.65661e-10" maximumScale="1e+08" simplifyDrawingHints="1" minLabelScale="0" maxLabelScale="1e+08" simplifyDrawingTol="1" geometry="Polygon" simplifyMaxScale="1" type="vector" hasScaleBasedVisibilityFlag="0" simplifyLocal="1" scaleBasedLabelVisibilityFlag="0">
      <id>prs_prs_locations20150820132925873</id>
      <datasource>{{ GEOSERVER_WFS_URL }}?SERVICE=WFS&amp;VERSION=1.0.0&amp;REQUEST=GetFeature&amp;TYPENAME=dpaw:prs_locations&amp;SRSNAME=EPSG:4283&amp;CQL_FILTER=referral_id={{ REFERRAL_PK }}</datasource>
      <title></title>
      <abstract></abstract>
      <keywordList>
        <value></value>
      </keywordList>
      <layername>PRS locations</layername>
      <srs>
        <spatialrefsys>
          <proj4>+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs</proj4>
          <srsid>3415</srsid>
          <srid>4283</srid>
          <authid>EPSG:4283</authid>
          <description>GDA94</description>
          <projectionacronym>longlat</projectionacronym>
          <ellipsoidacronym>GRS80</ellipsoidacronym>
          <geographicflag>true</geographicflag>
        </spatialrefsys>
      </srs>
      <provider encoding="System">WFS</provider>
      <previewExpression></previewExpression>
      <vectorjoins/>
      <expressionfields/>
      <map-layer-style-manager current="">
        <map-layer-style name=""/>
      </map-layer-style-manager>
      <edittypes>
        <edittype widgetv2type="TextEdit" name="id">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="modified">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="referral_id">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="referral_type">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="referral_reference">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="referring_org">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
      </edittypes>
      <renderer-v2 symbollevels="0" type="singleSymbol">
        <symbols>
          <symbol alpha="0.741176" type="fill" name="0">
            <layer pass="0" class="SimpleFill" locked="0">
              <prop k="border_width_map_unit_scale" v="0,0"/>
              <prop k="color" v="166,206,227,255"/>
              <prop k="joinstyle" v="bevel"/>
              <prop k="offset" v="0,0"/>
              <prop k="offset_map_unit_scale" v="0,0"/>
              <prop k="offset_unit" v="MM"/>
              <prop k="outline_color" v="31,120,180,255"/>
              <prop k="outline_style" v="solid"/>
              <prop k="outline_width" v="1"/>
              <prop k="outline_width_unit" v="MM"/>
              <prop k="style" v="solid"/>
            </layer>
          </symbol>
        </symbols>
        <rotation/>
        <sizescale scalemethod="area"/>
      </renderer-v2>
      <customproperties>
        <property key="labeling" value="pal"/>
        <property key="labeling/addDirectionSymbol" value="false"/>
        <property key="labeling/angleOffset" value="0"/>
        <property key="labeling/blendMode" value="0"/>
        <property key="labeling/bufferBlendMode" value="0"/>
        <property key="labeling/bufferColorA" value="255"/>
        <property key="labeling/bufferColorB" value="255"/>
        <property key="labeling/bufferColorG" value="255"/>
        <property key="labeling/bufferColorR" value="255"/>
        <property key="labeling/bufferDraw" value="false"/>
        <property key="labeling/bufferJoinStyle" value="64"/>
        <property key="labeling/bufferNoFill" value="false"/>
        <property key="labeling/bufferSize" value="1"/>
        <property key="labeling/bufferSizeInMapUnits" value="false"/>
        <property key="labeling/bufferSizeMapUnitMaxScale" value="0"/>
        <property key="labeling/bufferSizeMapUnitMinScale" value="0"/>
        <property key="labeling/bufferTransp" value="0"/>
        <property key="labeling/centroidInside" value="false"/>
        <property key="labeling/centroidWhole" value="false"/>
        <property key="labeling/decimals" value="3"/>
        <property key="labeling/displayAll" value="false"/>
        <property key="labeling/dist" value="0"/>
        <property key="labeling/distInMapUnits" value="false"/>
        <property key="labeling/distMapUnitMaxScale" value="0"/>
        <property key="labeling/distMapUnitMinScale" value="0"/>
        <property key="labeling/enabled" value="true"/>
        <property key="labeling/fieldName" value="referral_id"/>
        <property key="labeling/fontBold" value="false"/>
        <property key="labeling/fontCapitals" value="0"/>
        <property key="labeling/fontFamily" value="Arial"/>
        <property key="labeling/fontItalic" value="false"/>
        <property key="labeling/fontLetterSpacing" value="0"/>
        <property key="labeling/fontLimitPixelSize" value="false"/>
        <property key="labeling/fontMaxPixelSize" value="10000"/>
        <property key="labeling/fontMinPixelSize" value="3"/>
        <property key="labeling/fontSize" value="11"/>
        <property key="labeling/fontSizeInMapUnits" value="false"/>
        <property key="labeling/fontSizeMapUnitMaxScale" value="0"/>
        <property key="labeling/fontSizeMapUnitMinScale" value="0"/>
        <property key="labeling/fontStrikeout" value="false"/>
        <property key="labeling/fontUnderline" value="false"/>
        <property key="labeling/fontWeight" value="50"/>
        <property key="labeling/fontWordSpacing" value="0"/>
        <property key="labeling/formatNumbers" value="false"/>
        <property key="labeling/isExpression" value="false"/>
        <property key="labeling/labelOffsetInMapUnits" value="true"/>
        <property key="labeling/labelOffsetMapUnitMaxScale" value="0"/>
        <property key="labeling/labelOffsetMapUnitMinScale" value="0"/>
        <property key="labeling/labelPerPart" value="false"/>
        <property key="labeling/leftDirectionSymbol" value="&lt;"/>
        <property key="labeling/limitNumLabels" value="false"/>
        <property key="labeling/maxCurvedCharAngleIn" value="20"/>
        <property key="labeling/maxCurvedCharAngleOut" value="-20"/>
        <property key="labeling/maxNumLabels" value="2000"/>
        <property key="labeling/mergeLines" value="false"/>
        <property key="labeling/minFeatureSize" value="0"/>
        <property key="labeling/multilineAlign" value="0"/>
        <property key="labeling/multilineHeight" value="1"/>
        <property key="labeling/namedStyle" value="Normal"/>
        <property key="labeling/obstacle" value="true"/>
        <property key="labeling/placeDirectionSymbol" value="0"/>
        <property key="labeling/placement" value="1"/>
        <property key="labeling/placementFlags" value="0"/>
        <property key="labeling/plussign" value="false"/>
        <property key="labeling/preserveRotation" value="true"/>
        <property key="labeling/previewBkgrdColor" value="#ffffff"/>
        <property key="labeling/priority" value="5"/>
        <property key="labeling/quadOffset" value="4"/>
        <property key="labeling/repeatDistance" value="0"/>
        <property key="labeling/repeatDistanceMapUnitMaxScale" value="0"/>
        <property key="labeling/repeatDistanceMapUnitMinScale" value="0"/>
        <property key="labeling/repeatDistanceUnit" value="1"/>
        <property key="labeling/reverseDirectionSymbol" value="false"/>
        <property key="labeling/rightDirectionSymbol" value=">"/>
        <property key="labeling/scaleMax" value="10000000"/>
        <property key="labeling/scaleMin" value="1"/>
        <property key="labeling/scaleVisibility" value="false"/>
        <property key="labeling/shadowBlendMode" value="6"/>
        <property key="labeling/shadowColorB" value="0"/>
        <property key="labeling/shadowColorG" value="0"/>
        <property key="labeling/shadowColorR" value="0"/>
        <property key="labeling/shadowDraw" value="false"/>
        <property key="labeling/shadowOffsetAngle" value="135"/>
        <property key="labeling/shadowOffsetDist" value="1"/>
        <property key="labeling/shadowOffsetGlobal" value="true"/>
        <property key="labeling/shadowOffsetMapUnitMaxScale" value="0"/>
        <property key="labeling/shadowOffsetMapUnitMinScale" value="0"/>
        <property key="labeling/shadowOffsetUnits" value="1"/>
        <property key="labeling/shadowRadius" value="1.5"/>
        <property key="labeling/shadowRadiusAlphaOnly" value="false"/>
        <property key="labeling/shadowRadiusMapUnitMaxScale" value="0"/>
        <property key="labeling/shadowRadiusMapUnitMinScale" value="0"/>
        <property key="labeling/shadowRadiusUnits" value="1"/>
        <property key="labeling/shadowScale" value="100"/>
        <property key="labeling/shadowTransparency" value="30"/>
        <property key="labeling/shadowUnder" value="0"/>
        <property key="labeling/shapeBlendMode" value="0"/>
        <property key="labeling/shapeBorderColorA" value="255"/>
        <property key="labeling/shapeBorderColorB" value="128"/>
        <property key="labeling/shapeBorderColorG" value="128"/>
        <property key="labeling/shapeBorderColorR" value="128"/>
        <property key="labeling/shapeBorderWidth" value="0"/>
        <property key="labeling/shapeBorderWidthMapUnitMaxScale" value="0"/>
        <property key="labeling/shapeBorderWidthMapUnitMinScale" value="0"/>
        <property key="labeling/shapeBorderWidthUnits" value="1"/>
        <property key="labeling/shapeDraw" value="false"/>
        <property key="labeling/shapeFillColorA" value="255"/>
        <property key="labeling/shapeFillColorB" value="255"/>
        <property key="labeling/shapeFillColorG" value="255"/>
        <property key="labeling/shapeFillColorR" value="255"/>
        <property key="labeling/shapeJoinStyle" value="64"/>
        <property key="labeling/shapeOffsetMapUnitMaxScale" value="0"/>
        <property key="labeling/shapeOffsetMapUnitMinScale" value="0"/>
        <property key="labeling/shapeOffsetUnits" value="1"/>
        <property key="labeling/shapeOffsetX" value="0"/>
        <property key="labeling/shapeOffsetY" value="0"/>
        <property key="labeling/shapeRadiiMapUnitMaxScale" value="0"/>
        <property key="labeling/shapeRadiiMapUnitMinScale" value="0"/>
        <property key="labeling/shapeRadiiUnits" value="1"/>
        <property key="labeling/shapeRadiiX" value="0"/>
        <property key="labeling/shapeRadiiY" value="0"/>
        <property key="labeling/shapeRotation" value="0"/>
        <property key="labeling/shapeRotationType" value="0"/>
        <property key="labeling/shapeSVGFile" value=""/>
        <property key="labeling/shapeSizeMapUnitMaxScale" value="0"/>
        <property key="labeling/shapeSizeMapUnitMinScale" value="0"/>
        <property key="labeling/shapeSizeType" value="0"/>
        <property key="labeling/shapeSizeUnits" value="1"/>
        <property key="labeling/shapeSizeX" value="0"/>
        <property key="labeling/shapeSizeY" value="0"/>
        <property key="labeling/shapeTransparency" value="0"/>
        <property key="labeling/shapeType" value="0"/>
        <property key="labeling/textColorA" value="255"/>
        <property key="labeling/textColorB" value="0"/>
        <property key="labeling/textColorG" value="0"/>
        <property key="labeling/textColorR" value="0"/>
        <property key="labeling/textTransp" value="0"/>
        <property key="labeling/upsidedownLabels" value="0"/>
        <property key="labeling/wrapChar" value=""/>
        <property key="labeling/xOffset" value="0"/>
        <property key="labeling/yOffset" value="0"/>
      </customproperties>
      <blendMode>0</blendMode>
      <featureBlendMode>0</featureBlendMode>
      <layerTransparency>0</layerTransparency>
      <displayfield>id</displayfield>
      <label>0</label>
      <labelattributes>
        <label fieldname="" text="Label"/>
        <family fieldname="" name="MS Shell Dlg 2"/>
        <size fieldname="" units="pt" value="12"/>
        <bold fieldname="" on="0"/>
        <italic fieldname="" on="0"/>
        <underline fieldname="" on="0"/>
        <strikeout fieldname="" on="0"/>
        <color fieldname="" red="0" blue="0" green="0"/>
        <x fieldname=""/>
        <y fieldname=""/>
        <offset x="0" y="0" units="pt" yfieldname="" xfieldname=""/>
        <angle fieldname="" value="0" auto="0"/>
        <alignment fieldname="" value="center"/>
        <buffercolor fieldname="" red="255" blue="255" green="255"/>
        <buffersize fieldname="" units="pt" value="1"/>
        <bufferenabled fieldname="" on=""/>
        <multilineenabled fieldname="" on=""/>
        <selectedonly on=""/>
      </labelattributes>
      <editform></editform>
      <editforminit/>
      <featformsuppress>0</featformsuppress>
      <annotationform></annotationform>
      <editorlayout>generatedlayout</editorlayout>
      <excludeAttributesWMS/>
      <excludeAttributesWFS/>
      <attributeactions/>
      <edittypes>
        <edittype widgetv2type="TextEdit" name="id">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="modified">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="referral_id">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="referral_type">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="referral_reference">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
        <edittype widgetv2type="TextEdit" name="referring_org">
          <widgetv2config IsMultiline="0" fieldEditable="1" UseHtml="0" labelOnTop="0"/>
        </edittype>
      </edittypes>
    </maplayer>
    <maplayer minimumScale="0" maximumScale="1e+08" type="raster" hasScaleBasedVisibilityFlag="0">
      <id>PRS_locations__all_20150904133016079</id>
      <datasource>contextualWMSLegend=0&amp;crs=EPSG:4283&amp;dpiMode=7&amp;featureCount=10&amp;format=image/png&amp;layers=dpaw:prs_locations&amp;&amp;styles=&amp;url={{ GEOSERVER_WFS_URL }}?version%3D1.1.1</datasource>
      <title></title>
      <abstract></abstract>
      <keywordList>
        <value></value>
      </keywordList>
      <layername>PRS locations (all)</layername>
      <srs>
        <spatialrefsys>
          <proj4>+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs</proj4>
          <srsid>3415</srsid>
          <srid>4283</srid>
          <authid>EPSG:4283</authid>
          <description>GDA94</description>
          <projectionacronym>longlat</projectionacronym>
          <ellipsoidacronym>GRS80</ellipsoidacronym>
          <geographicflag>true</geographicflag>
        </spatialrefsys>
      </srs>
      <customproperties>
        <property key="identify/format" value="Html"/>
      </customproperties>
      <provider>wms</provider>
      <noData>
        <noDataList bandNo="1" useSrcNoData="0"/>
      </noData>
      <map-layer-style-manager current="">
        <map-layer-style name=""/>
      </map-layer-style-manager>
      <pipe>
        <rasterrenderer opacity="1" alphaBand="-1" band="1" type="singlebandcolordata">
          <rasterTransparency/>
        </rasterrenderer>
        <brightnesscontrast brightness="0" contrast="0"/>
        <huesaturation colorizeGreen="128" colorizeOn="0" colorizeRed="255" colorizeBlue="128" grayscaleMode="0" saturation="0" colorizeStrength="100"/>
        <rasterresampler maxOversampling="2"/>
      </pipe>
      <blendMode>0</blendMode>
    </maplayer>
    <maplayer minimumScale="0" maximumScale="1e+08" type="raster" hasScaleBasedVisibilityFlag="0">
      <id>cadastre_prs20151217112305468</id>
      <datasource>contextualWMSLegend=0&amp;crs=EPSG:4283&amp;dpiMode=7&amp;featureCount=10&amp;format=image/png&amp;layers=cddp:cadastre_prs&amp;styles=&amp;url={{ GEOSERVER_WFS_URL }}</datasource>
      <title></title>
      <abstract></abstract>
      <keywordList>
        <value></value>
      </keywordList>
      <layername>Cadastre</layername>
      <srs>
        <spatialrefsys>
          <proj4>+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs</proj4>
          <srsid>3415</srsid>
          <srid>4283</srid>
          <authid>EPSG:4283</authid>
          <description>GDA94</description>
          <projectionacronym>longlat</projectionacronym>
          <ellipsoidacronym>GRS80</ellipsoidacronym>
          <geographicflag>true</geographicflag>
        </spatialrefsys>
      </srs>
      <customproperties>
        <property key="identify/format" value="Html"/>
      </customproperties>
      <provider>wms</provider>
      <noData>
        <noDataList bandNo="1" useSrcNoData="0"/>
      </noData>
      <map-layer-style-manager current="">
        <map-layer-style name=""/>
      </map-layer-style-manager>
      <pipe>
        <rasterrenderer opacity="1" alphaBand="-1" band="1" type="singlebandcolordata">
          <rasterTransparency/>
        </rasterrenderer>
        <brightnesscontrast brightness="0" contrast="0"/>
        <huesaturation colorizeGreen="128" colorizeOn="0" colorizeRed="255" colorizeBlue="128" grayscaleMode="0" saturation="0" colorizeStrength="100"/>
        <rasterresampler maxOversampling="2"/>
      </pipe>
      <blendMode>0</blendMode>
    </maplayer>
	<maplayer minimumScale="0" maximumScale="1e+08" type="raster" hasScaleBasedVisibilityFlag="0">
      <id>Virtual_Mosaic__LGATE_V001_20151217112414064</id>
      <datasource>contextualWMSLegend=0&amp;crs=EPSG:4283&amp;dpiMode=7&amp;featureCount=10&amp;format=image/png&amp;layers=landgate:LGATE-V001&amp;styles=&amp;url={{ GEOSERVER_WFS_URL }}</datasource>
      <title></title>
      <abstract></abstract>
      <keywordList>
        <value></value>
      </keywordList>
      <layername>Landgate Orthomosaic</layername>
      <srs>
        <spatialrefsys>
          <proj4>+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs</proj4>
          <srsid>3415</srsid>
          <srid>4283</srid>
          <authid>EPSG:4283</authid>
          <description>GDA94</description>
          <projectionacronym>longlat</projectionacronym>
          <ellipsoidacronym>GRS80</ellipsoidacronym>
          <geographicflag>true</geographicflag>
        </spatialrefsys>
      </srs>
      <customproperties>
        <property key="identify/format" value="Undefined"/>
      </customproperties>
      <provider>wms</provider>
      <noData>
        <noDataList bandNo="1" useSrcNoData="0"/>
      </noData>
      <map-layer-style-manager current="">
        <map-layer-style name=""/>
      </map-layer-style-manager>
      <pipe>
        <rasterrenderer opacity="1" alphaBand="-1" band="1" type="singlebandcolordata">
          <rasterTransparency/>
        </rasterrenderer>
        <brightnesscontrast brightness="0" contrast="0"/>
        <huesaturation colorizeGreen="128" colorizeOn="0" colorizeRed="255" colorizeBlue="128" grayscaleMode="0" saturation="0" colorizeStrength="100"/>
        <rasterresampler maxOversampling="2"/>
      </pipe>
      <blendMode>0</blendMode>
    </maplayer>
  </projectlayers>
  <properties>
    <SpatialRefSys>
      <ProjectCRSProj4String type="QString">+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +no_defs</ProjectCRSProj4String>
      <ProjectCrs type="QString">EPSG:4283</ProjectCrs>
      <ProjectCRSID type="int">3415</ProjectCRSID>
      <ProjectionsEnabled type="int">1</ProjectionsEnabled>
    </SpatialRefSys>
    <Paths>
      <Absolute type="bool">false</Absolute>
    </Paths>
    <Gui>
      <SelectionColorBluePart type="int">0</SelectionColorBluePart>
      <CanvasColorGreenPart type="int">255</CanvasColorGreenPart>
      <CanvasColorRedPart type="int">255</CanvasColorRedPart>
      <SelectionColorRedPart type="int">255</SelectionColorRedPart>
      <SelectionColorAlphaPart type="int">255</SelectionColorAlphaPart>
      <SelectionColorGreenPart type="int">255</SelectionColorGreenPart>
      <CanvasColorBluePart type="int">255</CanvasColorBluePart>
    </Gui>
    <Digitizing>
      <DefaultSnapToleranceUnit type="int">2</DefaultSnapToleranceUnit>
      <LayerSnappingList type="QStringList"/>
      <LayerSnappingEnabledList type="QStringList"/>
      <SnappingMode type="QString">current_layer</SnappingMode>
      <AvoidIntersectionsList type="QStringList"/>
      <LayerSnappingToleranceUnitList type="QStringList"/>
      <LayerSnapToList type="QStringList"/>
      <DefaultSnapType type="QString">off</DefaultSnapType>
      <DefaultSnapTolerance type="double">0</DefaultSnapTolerance>
      <LayerSnappingToleranceList type="QStringList"/>
    </Digitizing>
    <PositionPrecision>
      <DecimalPlaces type="int">2</DecimalPlaces>
      <Automatic type="bool">true</Automatic>
    </PositionPrecision>
    <Legend>
      <filterByMap type="bool">false</filterByMap>
    </Legend>
  </properties>
</qgis>
