{% extends "base_prs.html" %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.9/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//static.dpaw.wa.gov.au/static/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="//static.dpaw.wa.gov.au/static/libs/select2/4.0.0/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="//static.dpaw.wa.gov.au/static/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
<style>
.dataTables_wrapper {
    <!-- CSS hack to prevent DataTables from adding a horizontal scrollbar to object table -->
    table-layout:fixed;
    width: 99% !important;
}
</style>
{% endblock %}

{% block page_content_inner %}
<div class="row">
    <div class="col-xs-12">
        <!-- Navigation tabs -->

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a id="id_referrals_tab" href="#tab_referrals" aria-controls="tab_referrals" role="tab" data-toggle="tab">Referrals</a>
            </li>
            <li role="presentation">
                <a id="id_clearances_tab" href="#tab_clearances" aria-controls="tab_clearances" role="tab" data-toggle="tab">Clearance Requests</a>
            </li>
            <li role="presentation">
                <a id="id_tasks_tab" href="#tab_tasks" aria-controls="tab_tasks" role="tab" data-toggle="tab">Tasks</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tab_referrals">
            <!-- Referrals result panel -->
                <!-- Filters row -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel-group" id="filter-panel-referrals">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">FILTER REFERRALS
                                        <a data-toggle="collapse" data-parent="#filter-panel-referrals" href="#collapseFiltersReferrals">
                                            (click to collapse/expand)
                                        </a>
                                    </h4>
                                </div>
                                <!-- /.panel-heading -->
                                <div id="collapseFiltersReferrals" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter-region-referral"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Region</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-region-referral"></select>
                                                </div>
                                                <label for="filter-organisation-referral"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Referrer</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-organisation-referral"></select>
                                                </div>
                                                <label for="filter-referralType"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Type</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-referralType"></select>
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="filter-dateFrom-referral"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">From date referred</label>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input class="form-control dateinput" id="filter-fromDate-referral">
                                                </div>
                                                <label for="filter-dateTo-referral"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">To date referred</label>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input class="form-control dateinput" id="filter-toDate-referral">
                                                </div>
                                                <label for="filter-referralTags"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Tags</label>
                                                <div class="col-lg-3 col-sm-4">
                                                    <select multiple="multiple" class="form-control" id="filter-referralTags"></select>
                                                </div>
                                            </div><!-- /.form-group -->
                                        </form><!-- /.form-horizontal -->
                                    </div> <!-- /.panel-body -->
                                </div><!-- /.panel-collapse collapse in -->
                            </div><!-- /.panel panel-default-->
                        </div><!-- /.panel-group -->
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
                <!-- Download button row-->
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a href="#" type="button" class="btn btn-primary"
                                   id="id_download_referrals">Download referrals</a>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
                <!-- DataTable row-->
                <div class="row">
                    <div class="col-xs-12">
                        <div id="id-div-datatable-referrals">
                            <table id="referralsTable" class="table table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Referral ID</th>
                                        <th>Region(s)</th>
                                        <th>Referrer</th>
                                        <th>Type</th>
                                        <th>Reference</th>
                                        <th>Received date</th>
                                        <th>Tags</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div><!-- /.table-resposive -->
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane fade" id="tab_clearances">
            <!-- Clearances result panel -->
                <!-- Filters row -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel-group" id="filter-panel-clearances">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">FILTER CLEARANCE REQUESTS
                                        <a data-toggle="collapse" data-parent="#filter-panel-clearances" href="#collapseFiltersClearances">
                                            (click to collapse/expand)
                                        </a>
                                    </h4>
                                </div>
                                <!-- /.panel-heading -->
                                <div id="collapseFiltersClearances" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter-region-clearance"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Region</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-region-clearance"></select>
                                                </div>
                                                <label for="filter-organisation-clearance"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Referrer</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-organisation-clearance"></select>
                                                </div>
                                                <label for="filter-taskState-clearance"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Status</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-taskState-clearance"></select>
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="filter-dateFrom-clearance"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">From date started</label>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input class="form-control dateinput" id="filter-fromDate-clearance">
                                                </div>
                                                <label for="filter-dateTo-clearance"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">To date started</label>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input class="form-control dateinput" id="filter-toDate-clearance">
                                                </div>
                                            </div><!-- /.form-group -->
                                        </form><!-- /.form-horizontal -->
                                    </div> <!-- /.panel-body -->
                                </div><!-- /.panel-collapse collapse in -->
                            </div><!-- /.panel panel-default-->
                        </div><!-- /.panel-group -->
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
                <!-- Download button row-->
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a href="#" type="button" class="btn btn-primary"
                                   id="id_download_clearances">Download clearance requests</a>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
                <!-- DataTable row-->
                <div class="row">
                    <div class="col-xs-12">
                        <div id="id-div-datatable-clearances">
                            <table id="clearancesTable" class="table table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Referral ID</th>
                                        <th>Region(s)</th>
                                        <th>Condition no.</th>
                                        <th>Approved condition</th>
                                        <th>Category</th>
                                        <th>Task description</th>
                                        <th>Deposited plan</th>
                                        <th>Assigned user</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.tab-pane -->

            <!-- Tasks result panel -->
            <div role="tabpanel" class="tab-pane fade" id="tab_tasks">
                <!-- Filters row -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel-group" id="filter-panel-tasks">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">FILTER TASKS
                                        <a data-toggle="collapse" data-parent="#filter-panel-tasks" href="#collapseFiltersTasks">
                                            (click to collapse/expand)
                                        </a>
                                    </h4>
                                </div>
                                <!-- /.panel-heading -->
                                <div id="collapseFiltersTasks" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter-region-task"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Region</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-region-task"></select>
                                                </div>
                                                <label for="filter-assigned"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Assigned user</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-assigned"></select>
                                                </div>
                                                <label for="filter-taskType"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Type</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-taskType"></select>
                                                </div>
                                            </div><!-- /.form-group -->
                                            <div class="form-group">
                                                <label for="filter-taskState-task"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">Status</label>
                                                <div class="col-lg-3 col-sm-4 col-xs-12">
                                                    <select class="form-control" id="filter-taskState-task"></select>
                                                </div>
                                                <label for="filter-dateFrom-task"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">From date started</label>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input class="form-control dateinput" id="filter-fromDate-task">
                                                </div>
                                                <label for="filter-dateTo-task"
                                                       class="col-lg-1 col-sm-2 col-xs-12 control-label">To date started</label>
                                                <div class="col-lg-3 col-sm-4">
                                                    <input class="form-control dateinput" id="filter-toDate-task">
                                                </div>
                                            </div><!-- /.form-group -->
                                        </form><!-- /.form-horizontal -->
                                    </div> <!-- /.panel-body -->
                                </div><!-- /.panel-collapse collapse in -->
                            </div><!-- /.panel panel-default-->
                        </div><!-- /.panel-group -->
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
                <!-- Download button row-->
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a href="#" type="button" class="btn btn-primary"
                                   id="id_download_tasks">Download tasks</a>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
                <!-- DataTable row-->
                <div class="row">
                    <div class="col-xs-12">
                        <div id="id-div-datatable-tasks">
                            <table id="tasksTable" class="table table-striped table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Referral ID</th>
                                        <th>Referral ref.</th>
                                        <th>Region</th>
                                        <th>Assigned user</th>
                                        <th>Task type</th>
                                        <th>Task description</th>
                                        <th>Status</th>
                                        <th>Start date</th>
                                        <th>Due date</th>
                                        <th>Completed date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->


    </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

<div id="id-div-result-panel">
</div><!-- /.id-div-result-panel -->
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.9/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/spin.js/2.3.2/spin.min.js"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/moment.js/2.10.6/moment.min.js"></script>
<script type="text/javascript">
    function _updateSelectOptions(el, url, filters) {
        // Utility function to replace options in a DOM select element
        // by querying a passed-in endpoint URL.
        el.disabled = true;
        $.ajax({
            type: "GET",
            url: url,
            data: filters,
            success: function (data) {
                el.options.length = 0;
                el.options.add(new Option('--------', ''));
                for (var i in data.objects) {
                    if ('username' in data.objects[i]) {  // API: user object type.
                        el.options.add(new Option(data.objects[i].first_name + " " + data.objects[i].last_name, data.objects[i].id));
                    } else {
                        el.options.add(new Option(data.objects[i].name, data.objects[i].id));
                    }
                }
            }
        });
        el.disabled = false;
    }

    function updateRegion() {
        var url = "{% url 'api_dispatch_list' resource_name='region' api_name='v1' %}";
        var filters = {"effective_to__isnull": true, "limit": 0};
        var el = $("select#filter-region-referral").get(0);
        _updateSelectOptions(el, url, filters);
        var el = $("select#filter-region-clearance").get(0);
        _updateSelectOptions(el, url, filters);
        var el = $("select#filter-region-task").get(0);
        _updateSelectOptions(el, url, filters);
    }

    function updateOrganisation() {
        var el = $("select#filter-organisation-referral").get(0);
        var url = "{% url 'api_dispatch_list' resource_name='organisation' api_name='v1' %}";
        var filters = {"effective_to__isnull": true, "limit": 0};
        _updateSelectOptions(el, url, filters);
        var el = $("select#filter-organisation-clearance").get(0);
        _updateSelectOptions(el, url, filters);
    }

    function updateReferralType() {
        var el = $("select#filter-referralType").get(0);
        var url = "{% url 'api_dispatch_list' resource_name='referraltype' api_name='v1' %}";
        var filters = {"effective_to__isnull": true, "limit": 0};
        _updateSelectOptions(el, url, filters);
    }

    function updateTaskState() {
        var el = $("select#filter-taskState-clearance").get(0);
        var url = "{% url 'api_dispatch_list' resource_name='taskstate' api_name='v1' %}";
        var filters = {"effective_to__isnull": true, "limit": 0};
        _updateSelectOptions(el, url, filters);
        var el = $("select#filter-taskState-task").get(0);
        _updateSelectOptions(el, url, filters);
    }

    function updateTaskType() {
        var el = $("select#filter-taskType").get(0);
        var url = "{% url 'api_dispatch_list' resource_name='tasktype' api_name='v1' %}";
        var filters = {"effective_to__isnull": true, "limit": 0};
        _updateSelectOptions(el, url, filters);
    }

    function updateAssignedUser() {
        var el = $("select#filter-assigned").get(0);
        var url = "{% url 'api_dispatch_list' resource_name='user' api_name='v1' %}";
        var filters = {"order_by": "username", "effective_to__isnull": true, "groups__name__in": "{{ prs_user_group }}", "limit": 0};
        _updateSelectOptions(el, url, filters);
    }

    function updateTags() {
        var el = $("select#filter-referralTags").get(0);
        var url = "{% url 'api_dispatch_list' resource_name='tag' api_name='v1' %}";
        var filters = {"limit": 0, "order_by": "name"};
        _updateSelectOptions(el, url, filters);
    }

    function queryReferralFilters() {
        // Filters for the referral API query.
        var data = {};
        var region = $("select#filter-region-referral").val();
        if (region) {
            $.extend(data, {"region__id": region});
        }
        var organisation = $("select#filter-organisation-referral").val();
        if (organisation) {
            $.extend(data, {"referring_org__id": organisation});
        }
        var referralType = $("select#filter-referralType").val();
        if (referralType) {
            $.extend(data, {"type__id": referralType});
        }
        var fromDate = $("input#filter-fromDate-referral").val();
        if (fromDate) {
            $.extend(data, {"referral_date__gte": moment(fromDate, "D/M/YYYY").format("YYYY-MM-DD")});
        }
        var toDate = $("input#filter-toDate-referral").val();
        if (toDate) {
            $.extend(data, {"referral_date__lte": moment(toDate, "D/M/YYYY").format("YYYY-MM-DD")});
        }
        var tags = $("#filter-referralTags").val();
        if (tags) {
            $.extend(data, {"tags__id__in": tags.join(",")});
        }
        return data;
    }

    function queryClearanceFilters() {
        // Filters for the clearance API query.
        var data = {};
        var region = $("select#filter-region-clearance").val();
        if (region) {
            $.extend(data, {"task__referral__region__id__in": region});
        }
        var organisation = $("select#filter-organisation-clearance").val();
        if (organisation) {
            $.extend(data, {"task__referral__referring_org__id": organisation});
        }
        var taskState = $("select#filter-taskState-clearance").val();
        if (taskState) {
            $.extend(data, {"task__state__id": taskState});
        }
        var fromDate = $("input#filter-fromDate-clearance").val();
        if (fromDate) {
            $.extend(data, {"task__start_date__gte": moment(fromDate, "D/M/YYYY").format("YYYY-MM-DD")});
        }
        var toDate = $("input#filter-toDate-clearance").val();
        if (toDate) {
            $.extend(data, {"task__start_date__lte": moment(toDate, "D/M/YYYY").format("YYYY-MM-DD")});
        }
        return data;
    }

    function queryTaskFilters() {
        // Filters for the task API query.
        var data = {};
        var region = $("select#filter-region-task").val();
        if (region) {
            $.extend(data, {"referral__region__id__in": region});
        }
        var type = $("select#filter-taskType").val();
        if (type) {
            $.extend(data, {"type__id": type});
        }
        var taskState = $("select#filter-taskState-task").val();
        if (taskState) {
            $.extend(data, {"state__id": taskState});
        }
        var fromDate = $("input#filter-fromDate-task").val();
        if (fromDate) {
            $.extend(data, {"start_date__gte": moment(fromDate, "D/M/YYYY").format("YYYY-MM-DD")});
        }
        var toDate = $("input#filter-toDate-task").val();
        if (toDate) {
            $.extend(data, {"start_date__lte": moment(toDate, "D/M/YYYY").format("YYYY-MM-DD")});
        }
        var assigned = $("select#filter-assigned").val();
        if (assigned) {
            $.extend(data, {"assigned_user__id": assigned});
        }
        return data;
    }

    function downloadData(model) {
        if (model=="referral") {
            params = queryReferralFilters();
            params["model"] = model;
        } else if (model=="clearance") {
            params = queryClearanceFilters();
            params["model"] = model;
        } else if (model=="task") {
            params = queryTaskFilters();
            params["model"] = model;
        };
        window.open("{% url 'reports_download' %}" + '?' + $.param(params), "_blank");
    }

    // DataTables configuration.
    const configRefTable = {
        autoWidth: false,
        processing: true,
        serverSide: true,
        searching: false,  // Disable search filter.
        ordering: false,  // Disable column sorting.
        pageLength: 25,  // Initial number of results to show.
        responsive: true,
        pagingType: "numbers",
        ajax: function(data, callback, settings) {
            delete data.columns;  // Remove the columns array attribute to shorten the query params.
            delete data.search;
            data.limit = settings._iDisplayLength;
            data.offset = settings._iDisplayStart;
            var params = $.extend({}, data, queryReferralFilters());
            $.get(
                "{% url 'api_dispatch_list' api_name='v1' resource_name='referral' %}",
                params,  // Query parameters for the API call.
                function(resp) {
                    // Map the API response to the DataTables format and pass it to DataTables callback.
                    callback({
                        recordsTotal: resp.meta.total_count,
                        recordsFiltered: resp.meta.total_count,
                        data: resp.objects
                    });
                }
            );
        },
        columns: [
            {"data": "id"},
            {
                "data": "region",
                "render": function(data, type, row, meta) {
                    return data.map(function(obj) {return obj.name}).join(", ")
                }
            },
            {"data": "referring_org.name"},
            {"data": "type.name"},
            {"data": "reference"},
            {
                "data": "referral_date",
                "type": "date",
                "render": function(data, type, row, meta) {
                    var d = new Date(data);
                    return d.toDateString();
                }
            },
            {
                "data": "tags",
                "render": function(data, type, row, meta) {
                    return data.map(function(obj) {return obj.name}).join(", ")
                }
            },
            {"data": "description"},
        ],
    }

    const configClearTable = {
        autoWidth: false,
        processing: true,
        serverSide: true,
        searching: false,  // Disable search filter.
        ordering: false,  // Disable column sorting.
        pageLength: 25,  // Initial number of results to show.
        responsive: true,
        pagingType: "numbers",
        ajax: function(data, callback, settings) {
            delete data.columns;  // Remove the columns array attribute to shorten the query params.
            delete data.search;
            data.limit = settings._iDisplayLength;
            data.offset = settings._iDisplayStart;
            var params = $.extend({}, data, queryClearanceFilters());
            $.get(
                "{% url 'api_dispatch_list' api_name='v1' resource_name='clearance' %}",
                params,  // Query parameters for the API call.
                function(resp) {
                    // Map the API response to the DataTables format and pass it to DataTables callback.
                    callback({
                        recordsTotal: resp.meta.total_count,
                        recordsFiltered: resp.meta.total_count,
                        data: resp.objects
                    });
                }
            );
        },
        columns: [
            {"data": "condition.referral.id"},
            {
                "data": "condition.referral.region",
                "render": function(data, type, row, meta) {
                    return data.map(function(obj) {return obj.name}).join(", ")
                }
            },
            {"data": "condition.identifier"},
            {
                "data": "condition.condition_html",
                "render": function(data, type, row, meta) {
                    var c = "<div>{}</div>";
                    return c.replace("{}", data);
                }
            },
            {
                "data": "condition.category",
                "render": function(data, type, row, meta) {
                    if (data) {
                        return data.name;
                    } else {
                        return "";
                    }
                }
            },
            {"data": "task.description"},
            {"data": "deposited_plan"},
            {
                "data": "task.assigned_user",
                "render": function(data, type, row, meta) {
                    return data.first_name + " " + data.last_name;
                }
            },
            {"data": "task.state.name"}
        ],
    }

    const configTaskTable = {
        autoWidth: false,
        processing: true,
        serverSide: true,
        searching: false,  // Disable search filter.
        ordering: false,  // Disable column sorting.
        pageLength: 25,  // Initial number of results to show.
        responsive: true,
        pagingType: "numbers",
        ajax: function(data, callback, settings) {
            delete data.columns;  // Remove the columns array attribute to shorten the query params.
            delete data.search;
            data.limit = settings._iDisplayLength;
            data.offset = settings._iDisplayStart;
            var params = $.extend({}, data, queryTaskFilters());
            $.get(
                "{% url 'api_dispatch_list' api_name='v1' resource_name='task' %}",
                params,  // Query parameters for the API call.
                function(resp) {
                    // Map the API response to the DataTables format and pass it to DataTables callback.
                    callback({
                        recordsTotal: resp.meta.total_count,
                        recordsFiltered: resp.meta.total_count,
                        data: resp.objects
                    });
                }
            );
        },
        columns: [
            {"data": "referral.id"},
            {"data": "referral.reference"},
            {
                "data": "referral.region",
                "render": function(data, type, row, meta) {
                    return data.map(function(obj) {return obj.name}).join(", ")
                }
            },
            {
                "data": "assigned_user",
                "render": function(data, type, row, meta) {
                    return data.first_name + " " + data.last_name;
                }
            },
            {"data": "type.name"},
            {"data": "description"},
            {"data": "state.name"},
            {
                "data": "start_date",
                "type": "date",
                "render": function(data, type, row, meta) {
                    return new Date(data).toDateString();
                }
            },
            {
                "data": "due_date",
                "type": "date",
                "render": function(data, type, row, meta) {
                    return new Date(data).toDateString();
                }
            },
            {
                "data": "complete_date",
                "type": "date",
                "render": function(data, type, row, meta) {
                    if (data) {
                        return new Date(data).toDateString();
                    } else {
                        return "";
                    }
                }
            },
        ],
    }

    // Document ready
    $(function () {
        // Initialise the DataTables.
        var refDataTable = $("table#referralsTable").DataTable(configRefTable);
        var clearDataTable = $("table#clearancesTable").DataTable(configClearTable);
        var taskDataTable = $("table#tasksTable").DataTable(configTaskTable);

        // Initialise datepicker widgets
        $(".dateinput").datepicker({
            format: "d/m/yyyy",
            autoclose: true,
            todayHighlight: true,
        }).on("changeDate", function(e) {
            // Onchange event for all datepickers (separate to below, because
            // the widget triggers multiple change events.
            if (e.target.id.indexOf("referral") > -1) {
                refDataTable.ajax.reload();
            } else if (e.target.id.indexOf("clearance") > -1) {
                clearDataTable.ajax.reload();
            } else if (e.target.id.indexOf("task") > -1) {
                taskDataTable.ajax.reload();
            }
        });

        // Initialise filter select lists.
        updateRegion();
        updateReferralType();
        updateOrganisation();
        updateTaskState();
        updateTaskType();
        updateAssignedUser();
        updateTags();

        // Initialise tag select widgets.
        $("#filter-referralTags").select2();

        // Onchange events for Referral filters.
        $("#filter-region-referral, #filter-organisation-referral, #filter-referralType, #filter-referralTags").change(function () {
            refDataTable.ajax.reload();
        });

        // Onchange events for Clearance filters.
        $("#filter-region-clearance, #filter-organisation-clearance, #filter-taskState-clearance").change(function () {
            clearDataTable.ajax.reload();
        });
        // Onchange events for Task filters.
        $("#filter-taskType, #filter-region-task, #filter-taskState-task, #filter-assigned").change(function () {
            taskDataTable.ajax.reload();
        });

        // Click events for the 'Download' buttons.
        $("a#id_download_referrals").click(function () {
            downloadData("referral");
        });
        $("a#id_download_clearances").click(function () {
            downloadData("clearance");
        });
        $("a#id_download_tasks").click(function () {
            downloadData("task");
        });
    });
</script>
{% endblock %}
