{% extends "base_prs.html" %}
{% load cache %}
{% load static from staticfiles %}

{% block extra_style %}
{{ block.super }}
{% if geojson_locations %}
<link rel="stylesheet" href="//api.mapbox.com/mapbox.js/v2.2.1/mapbox.css" />
<link rel="stylesheet" href="{% static 'leaflet-search/leaflet-search.css' %}" />
{% endif %}
<link rel="stylesheet" href="//static.dpaw.wa.gov.au/static/libs/dropzone/4.0.1/min/dropzone.min.css">
<link rel="stylesheet" href="{% static 'css/prs_dropzone.css' %}" />
<style>
    #map { width:100%; height: 480px;}
</style>
{% endblock extra_style %}

{% if object_tools_template %}
{% block sidebar_content %}{% include object_tools_template %}{% endblock %}
{% endif %}

{% block navbar_links %}
{% if object_type == 'task' %}
<li class="dropdown">
    <a id="id-menu-task" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Task <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li class="is_prs_user"><a href="{% url 'task_action' pk=object.pk action='edit' %}">Edit task</a></li>
        {% if task_stopped %}
        <li class="is_prs_user"><a href="{% url 'task_action' pk=object.pk action='start' %}">Start task</a></li>
        {% else %}
        <li class="is_prs_user"><a href="{% url 'task_action' pk=object.pk action='stop' %}">Stop task</a></li>
        {% endif %}
        {% if can_complete %}
          <li class="is_prs_user"><a href="{% url 'task_action' pk=object.pk action='complete' %}">Complete task</a></li>
        {% else %}
          <li class="is_prs_user"><a href="#" id="id_complete" title="{{can_complete_msg}}" style="color:grey">Complete task</a></li>
        {% endif %}
        <li class="is_prs_user"><a href="{% url 'task_action' pk=object.pk action='cancel' %}">Cancel task</a></li>
        <li class="is_prs_user"><a href="{% url 'task_action' pk=object.pk action='reassign' %}">Reassign task</a></li>
        <li class="is_prs_user"><a href="{% url 'task_action' pk=object.pk action='inherit' %}">Inherit task</a></li>
        <li class="is_prs_user"><a href="{% url 'referral_create_child_related' pk=object.referral.pk id=object.id model='task' type='addnewrecord' %}">Add a new record to this task</a></li>
        <li class="is_prs_user"><a href="{% url 'referral_create_child_related' pk=object.referral.pk id=object.id model='task' type='addrecord' %}">Add existing record(s) to this task</a></li>
        <li class="is_prs_user"><a href="{% url 'referral_create_child_related' pk=object.referral.pk id=object.id model='task' type='addnewnote' %}">Add a new note to this task</a></li>
        <li class="is_prs_user"><a href="{% url 'referral_create_child_related' pk=object.referral.pk id=object.id model='task' type='addnote' %}">Add existing note(s) to this task</a></li>
        <li class="is_prs_user"><a href="{% url 'prs_object_delete' model='tasks' pk=object.pk %}">Delete task</a></li>
        <li><a href="{% url 'prs_object_history' model='tasks' pk=object.pk %}">History</a></li>
    </ul>
</li>
{% elif object_type == 'note' %}
{% cache 600 note_navbar_links object.pk request.user.username %}
<li class="dropdown">
    <a id="id-menu-note" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Note <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li class="is_prs_user"><a href="{% url 'prs_object_update' model='notes' pk=object.id %}">Edit note</a></li>
        <li class="is_prs_user"><a href="{% url 'prs_object_delete' model='notes' pk=object.id %}">Delete note</a></li>
        <li class="is_prs_user"><a href="{% url 'referral_create_child_related' pk=object.referral.id id=object.id model='note' type='addnewrecord' %}">Add a new record to this note</a></li>
        <li class="is_prs_user"><a href="{% url 'referral_create_child_related' pk=object.referral.id id=object.id model='note' type='addrecord' %}">Add existing record(s) to this note</a></li>
        <li><a href="{% url 'prs_object_history' model='notes' pk=object.id %}">History</a></li>
    </ul>
</li>
{% endcache %}
{% elif object_type == 'record' %}
{% cache 600 record_navbar_links object.pk request.user.username %}
<li class="dropdown">
    <a id="id-menu-record" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Record <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li class="is_prs_user"><a href="{% url 'prs_object_update' model='records' pk=object.id %}">Edit record</a></li>
        <li class="is_prs_user"><a href="{% url 'prs_object_delete' model='records' pk=object.id %}">Delete record</a></li>
        <li class="is_prs_user"><a href="{% url 'referral_create_child_related' pk=object.referral.id id=object.id model='record' type='addnewnote' %}">Add a new note to this record</a></li>
        <li class="is_prs_user"><a href="{% url 'referral_create_child_related' pk=object.referral.id id=object.id model='record' type='addnote' %}">Add existing note(s) to this record</a></li>
        <li><a href="{% url 'prs_object_history' model='records' pk=object.id %}">History</a></li>
    </ul>
</li>
{% endcache %}
{% elif object_type == 'location' %}
{% cache 600 location_navbar_links object.pk request.user.username %}
<li class="dropdown">
    <a id="id-menu-location" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Location <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li class="is_prs_user"><a href="{% url 'prs_object_update' model='locations' pk=object.id %}">Edit location</a></li>
        <li class="is_prs_user"><a href="{% url 'prs_object_delete' model='locations' pk=object.id %}">Delete location</a></li>
        <li><a href="{% url 'prs_object_history' model='locations' pk=object.id %}">History</a></li>
    </ul>
</li>
{% endcache %}
{% elif object_type == 'condition' %}
{% cache 600 condition_navbar_links object.pk request.user.username %}
<li class="dropdown">
    <a id="id-menu-condition" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Condition <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li class="is_prs_user"><a href="{% url 'prs_object_update' model='conditions' pk=object.id %}">Edit condition</a></li>
        <li class="is_prs_user"><a href="{% url 'prs_object_delete' model='conditions' pk=object.id %}">Delete condition</a></li>
        <li class="is_prs_user"><a href="{% url 'condition_clearance_add' pk=object.id %}">Add a clearance request</a></li>
        <li><a href="{% url 'prs_object_history' model='conditions' pk=object.id %}">History</a></li>
    </ul>
</li>
{% endcache %}
{% endif %}
{{ block.super }}
{% endblock %}

{% block page_content_inner %}
<div class="alert alert-danger hidden" id="complete_msg">{{can_complete_msg}}</div>
<div id="object-details">
<!-- Object details -->
<h1>{{ page_heading }}</h1>
    <table class="table table-striped table-bordered table-condensed" style="width:auto;">
        <tbody>
            {{ object.as_tbody|safe }}
        </tbody>
    </table>
</div>
<br>
<!-- Object related items -->
{% if related_items %}
<div id="object-related-items">
    <h1>{{ related_items_title }}</h1>
    <table class="tablesorter table table-striped table-bordered table-condensed" id="referral-objects-table">
        <thead>
            <tr>
            {% for header in related_items_headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object, dp in related_items %}
            <tr>{{ object.as_row|safe }}<td>{{ dp|default_if_none:"" }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endif %}
<!-- Object related records -->
{% if related_records %}
<div id="object-related-records">
    <h1>Related records:</h1>
    <table class="tablesorter table table-striped table-bordered table-condensed" id="related-objects-table">
        <thead>
            <tr>
            {% for header in record_headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in related_records %}
            <tr>{{ record.as_row|safe }}</tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endif %}
<!-- Object related tasks -->
{% if related_tasks %}
<div id="object-related-tasks">
    <h1>Related tasks:</h1>
    <table class="tablesorter table table-striped table-bordered table-condensed" id="related-objects-table">
        <thead>
            <tr>
            {% for header in task_headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for task in related_tasks %}
            <tr>{{ task.as_row|safe }}</tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endif %}
<!-- Object related notes -->
{% if related_notes %}
<div id="object-related-notes">
    <h1>Related notes:</h1>
    <table class="tablesorter table table-striped table-bordered table-condensed" id="related-objects-table">
        <thead>
            <tr>
            {% for header in note_headers %}
                <th>{{ header }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for note in related_notes %}
            <tr>{{ note.as_row|safe }}</tr>
            {% endfor %}
        </tbody>
    </table>
<br>
{% endif %}

{% if geojson_locations %}
<div class="row">
    <div class="col-xs-12">
        <div id="map"></div>
    </div><!-- /.col-xs-12-->
</div>
{% endif %}
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
{% if geojson_locations %}
<script src="//api.mapbox.com/mapbox.js/v2.2.2/mapbox.js"></script>
<script src="{% static 'leaflet-search/leaflet-search.min.js' %}"></script>
<script>
    // Set global variables (needs to happen before loading referral_map.js)
    var geoserver_wms_url = '{{ geoserver_wms_url }}';
    var geocoder_url = '{{ geocoder_url }}';
</script>
<script src="{% static 'js/referral_map.js' %}"></script>
<script>
    // Add Location polygons to the map display and zoom to their bounds.
    var geojsonFeatures = JSON.parse('{{ geojson_locations|escapejs }}');
    var locationsLayer = L.geoJson(null, {
        style: {"color": "#ff0000", "weight": 5}
    }).addTo(map);
    locationsLayer.addData(geojsonFeatures);
    map.fitBounds(locationsLayer.getBounds());
    locationsLayer.addTo(map);
</script>
{% endif %}

<script type="text/javascript" charset="utf-8">
    $("#id_complete").click(function() {
       $('#complete_msg').removeClass('hidden');
    });
</script>
{% endblock extra_js %}
