{% extends "base_prs.html" %}
{% load static from staticfiles %}
{% load bootstrap_pagination %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.9/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/prs_datatables.css' %}" />
{% endblock %}

{% block page_content_inner %}
<h1>{{ object_type_plural|upper }}</h1>
<!-- Search bar -->
<form action="" method="get">
    <div class="row">
        <div class="hidden-xs col-sm-1">
            <label for="search_field">Search:</label>
        </div>
        <div class="col-xs-12 col-sm-11 col-md-8">
            <input id="search_field" type="text" class="form-control" name="q" placeholder="Search all text..." value="{{ query_string }}">
        </div>
    </div>
</form>
<hr>
<!-- Number of results returned -->
{% if queryset_count = 0 %}
    <h3>Search returned no results.</h3>
{% else %}
    {% if queryset_count > 500 %}
        <h3>Search returned 500+ results:</h3>
    {% else %}
        <h3>Search returned {{ queryset_count }} results:</h3>
    {% endif %}
{% endif %}
{% if object_list %}
    {% if page_obj.has_other_pages %}{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}{% endif %}
    {% block object_list_table %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed prs-object-table">
            <thead>
                <tr>
                {% for header in object_list_headers %}
                    <th>{{ header }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>{{ object.as_row }}</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock object_list_table %}
    {% if page_obj.has_other_pages %}{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}{% endif %}
{% endif %}
<br>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/datatables/1.10.10/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/moment.js/2.10.6/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/datetime-moment.js' %}"></script>
<link rel="stylesheet" type="text/css" href="" />
<script type="text/javascript">
    // Document ready events
    $(function() {
        // Initialise the DataTable.
        $.fn.dataTable.moment("dd MMM YYYY", "en-AU");
        var prsDataTable = $(".prs-object-table").DataTable({
            "autoWidth": false,
            "info": false,
            "ordering": true,
            "paging": false,
            "responsive": true,
            "searching": false
        });
    });
</script>
{% endblock extra_js %}
