{% extends "referral/prs_object_list.html" %}
{% load bootstrap_pagination %}

{% block object_list_table %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed prs-object-table">
        <thead>
            <tr>
                {% for header in object_list_headers %}
                    <th>{{ header }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                {{ object.as_row }}
                <td>
                    <form method="post" action="{% url 'referral_relate' pk=referral.id %}?ref_pk={{ object.pk }}&create=">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock object_list_table %}
