{% extends "base_prs.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/jquery-ui/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="//static.dpaw.wa.gov.au/static/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="//static.dpaw.wa.gov.au/static/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
{% endblock %}

{% block page_content_inner %}
<h1>{{ title }}</h1>
<div id="reference_search" style="width:70%;"></div>
{% crispy form %}

<!-- Referral Types modal -->
<div id="refTypeModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="refTypeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="refTypemodalLabel">Referral types (definitions)</h4>
            </div>
            <div class="modal-body">
                {% include "referral/referral_type_modal.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" charset="utf-8">
    // Initialise popovers.
    $("[data-toggle=popover]").popover({container: "body"});

    // Define a function to call another function after a timeout.
    var delay = function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    }();

    // Define a function to show/hide a DOM element (list of referrals).
    var matchedReferrals = function() {
        var ref = $('#id_reference').val()
        if (ref.length > 0) {  // Not an empty string.
            $("#reference_search").insertAfter('#div_id_reference');
            $("#reference_search").html("&nbsp;").load("{% url 'referral_reference_search' %}?q=" + ref);
        } else {
            $("#reference_search").hide();
        }
    };

    // Document ready events:
    $(function() {
        // Initialise datepicker widgets
        $(".dateinput").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });

        // Initialise the tags widget.
        var tags_list = {{ tags|safe }};
        $('#id_tags').tokenfield({
            autocomplete: {
                source: tags_list,
                delay: 100
            },
            showAutocompleteOnFocus: true
        })

        // Watch the reference field for input, only show matches after 1 second.
        $('#id_reference').keyup(function() {
            delay(function() {matchedReferrals()}, 1000);
        });
    });
</script>
{% endblock %}
