{% extends "base_prs.html" %}
{% load bootstrap_pagination %}

{% block page_content_inner %}
<h1>{{ object_type_plural|upper }}</h1>
<!-- Search bar -->
<form action="" method="get">
    <div class="row">
        <div class="hidden-xs col-sm-1">
            <label for="search_field">Search:</label>
        </div>
        <div class="col-xs-12 col-sm-11 col-md-8">
            <input id="search_field" type="text" class="form-control" name="q" placeholder="Search all text..." value="{{ query_string }}">
        </div>
    </div>
</form>
<hr>
<!-- Number of results returned -->
{% if queryset_count = 0 %}
    <h3>Search returned no results.</h3>
{% else %}
    {% if queryset_count > 500 %}
        <h3>Search returned 500+ results:</h3>
    {% else %}
        <h3>Search returned {{ queryset_count }} results:</h3>
    {% endif %}
{% endif %}
{% if object_list %}
    {% if page_obj.has_other_pages %}{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}{% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed" id="prs-object-table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if page_obj.has_other_pages %}{% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}{% endif %}
{% endif %}
<br>
{% endblock %}
